$black: #333;
$white: #FFF;
$gray: rgba(0, 0, 0, 0.54);
$disabled-gray: #D5D3D3;
$divider-base: rgba(236, 219, 219, 0.15);
$input-primary: #00D564;
$loading-base: #E3C688;
$error: #F44336;
$primary-button: #917E56;
$primary-button-hover: #B09D74;
$primary-text-button-hover: #D0F7E2;
$topbar-background: #9C7E40;

$primary-variant-1: #FF9705;
$primary-variant-2: #EEAB4C;
$primary-variant-3: #EEBB4C;

$light-01: #E6DCC2;
$gradient-vertical: linear-gradient(90deg, $primary-variant-1 6%, $primary-variant-2 41%, $primary-variant-3 73%);
$account-status-action-card: #FD731D;

$shadow-color: #BFC3C8;

$box-shadow: rgba(24, 44, 73, 0.1);

$c1: #24BAE5;
$c2: #072D8F;
$c3: #6E518F;
$c4: #CC1B34;

$default-gradient: linear-gradient(180deg, $c1 0, $c2 30.21%, $c3 61.98%, $c4 96.87%);

// sass-lint:disable no-misspelled-properties
// sass-lint:disable property-sort-order
:export {
  black: $black;
  white: $white;
  gray: $gray;
  disabledGray: $disabled-gray;
  dividerBase: $divider-base;
  inputPrimary: $input-primary;
  loadingBase: $loading-base;
  error: $error;
  primaryButton: $primary-button;
  primaryButtonHover: $primary-button-hover;
  primaryTextButtonHover: $primary-text-button-hover;
  gradientVertical: $gradient-vertical;
  light01: $light-01;
  accountStatusActionCard: $account-status-action-card;
}
