$black: #333;
$white: #FFF;
$gray: rgba(0, 0, 0, 0.54);
$disabled-gray: #D5D3D3;
$divider-base: rgba(236, 219, 219, 0.15);
$input-primary: #00D564;
$loading-base: #E3C688;
$error: #F44336;
$primary-button: #917E56;
$primary-button-hover: #B09D74;
$primary-text-button-hover: #D0F7E2;
$topbar-background: #9C7E40;

$primary-text: #182C49;
$secondary-text: #677489;
$card-hover: rgba(55, 60, 67, 0.15);
$gold: rgb(255, 217, 0);
$gradient1: rgba(224, 99, 99, 1);
$gradient2: rgba(90, 129, 226, 1);
$gradient3: rgba(43, 191, 221, 1);

$primary-variant-1: #FF9705;
$primary-variant-2: #EEAB4C;
$primary-variant-3: #EEBB4C;

$light-01: #E6DCC2;
$gradient-vertical: 'linear-gradient(0deg, #{$gradient1} 20%, #{$gradient2} 80%, #{$gradient3} 100%)';
$account-status-action-card: #FD731D;

$shadow-color: #BFC3C8;

// sass-lint:disable no-misspelled-properties
// sass-lint:disable property-sort-order
:export {
  black: $black;
  white: $white;
  gray: $gray;
  disabledGray: $disabled-gray;
  dividerBase: $divider-base;
  inputPrimary: $input-primary;
  loadingBase: $loading-base;
  error: $error;
  primaryButton: $primary-button;
  primaryButtonHover: $primary-button-hover;
  primaryTextButtonHover: $primary-text-button-hover;
  light01: $light-01;
  gradientVertical: $gradient-vertical;
  accountStatusActionCard: $account-status-action-card;
}
