@import 'scss/variables/_sizes.scss';
@import '_colors.scss';
@import 'scss/variables/_mediaQueries.scss';

$margin-size: 40px;

.container {
  padding: 40px;
  width: 100%;
}

.accountsButton {
  align-items: center;
  background-color: $primary-variant-3 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px 20px;
}

.accountsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.accountsTitle {
  color: $black;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

@media #{ $desktop-tablet } {
  .accountsTitle {
    margin-top: 20px;
  }

  .accountsContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
}
