@import '_colors.scss';
@import 'scss/variables/_mediaQueries.scss';

.DigitalBillModalContainer {
  background-color: $background-black-transparent;
  cursor: initial;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.DigitalBillModalContainerData {
  background-color: $white;
  margin: auto;
  padding: 30px;
  width: 70%;
  overflow-wrap: break-word;
}

.DigitalBillModalFinalMessage{
  text-align: center;
  padding: 20px 0;
}

.DigitalBillModalBodySecondText {
  margin-top: 30px !important;
}

.DigitalBillModalFooter {
  column-gap: 20px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.DigitalBillModalFooterHidden {
  display: none;
}

@media #{$desktop-tablet} {
  .DigitalBillModalFooter {
    justify-content: flex-end;
  }
}
