@import 'scss/variables/_sizes.scss';
@import '_colors.scss';

$margin-size: 40px;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  margin-top: $margin-size;
  width: 100%;
}

.rightSection {
  display: flex;
  width: 45%;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

%buttons {
  height: 100%;
}

.billsListButton {
  @extend %buttons;
}

.accountsButton {
  align-items: center;
  background-color: $primary-variant-3 !important;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}
