@import 'scss/variables/_sizes.scss';
@import '_colors.scss';

$margin-size: 40px;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: $margin-size;
  justify-content: space-between;
  margin-top: $margin-size;
  width: 100%;
}

.rightSection {
  display: flex;
  width: 45%;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

%buttons {
  height: 100%;
}

.billsListButton {
  @extend %buttons;
}

.facturaDigitalBefore {
  background: linear-gradient(
    90deg,
    #{$primary-variant-1} 20%,
    #{$primary-variant-2} 80%,
    #{$primary-variant-3} 100%
  );
}

.facturaDigitalAfter {
  @extend %buttons;
  align-items: center;
  background-image: url('https://placekitten.com/300/200');
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 1px -2px 5px 3px $shadow-color;
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  justify-content: flex-start;
}

.facturaDigitalTitle {
  color: #{$white};
  padding: 0 40px;
  width: 200px;
}

.facturaDigitalButton {
  border-color: #{$white} !important;
  color: #{$white} !important;
  margin-right: 20px;
  min-width: 100px !important;
}

.modal {
  background-color: #{$gray};
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modalContent {
  background-color: #{$white};
  border-radius: 10px;
  margin: auto;
  margin-top: 13%;
  opacity: 0;
  padding: 40px;
  transition: opacity 0.5s, margin-top 0.5s;
  width: 70%;
}

.modalComponent {
  display: none;
}
