@import 'scss/variables/_sizes.scss';
@import 'scss/variables/_fontSizes.scss';
@import '_colors.scss';
@import '_general.scss';

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - #{$topbar-heigth});
  justify-content: space-around;
  padding: 40px 20px;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.reload {
  @extend .clickable;
  border: 0;
  background-color: transparent; 
  color: $primary-variant-1;
  font-size: $large;
  font-weight: 600;
}
