@import 'scss/variables/_sizes.scss';
@import 'scss/variables/_fontSizes.scss';
@import '_general.scss';
@import '_colors.scss';

$border: 1px solid #000;
$hover-color: hsla(0, 0%, 0%, 0.247);
$table-color: #FFF;

.title {
  font-size: #{$large};
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

.tableContainer {
  margin: auto;
  width: min-content;
}

.rowHover:hover {
  background-color: $disabled-gray !important; //No logro hacer que esto funcione
}
