@import 'scss/variables/_sizes.scss';
@import '_colors.scss';

$icon-size: 30px;

.container {
  align-items: center;
  background-color: $primary-variant-3;
  display: flex;
  height: $topbar-heigth;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.logo {
  height: calc(#{$topbar-heigth} - 40px);
}

.homeIcon {
  cursor: pointer;
  fill: $white;
  height: $icon-size;
  width: $icon-size;

  &:hover {
    opacity: 0.5;
  }
}
